.header_wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 3% 4%
}

.header_left{
    display: flex;
    width: 40%;
    justify-content: space-between;
}

.header_right :first-child{
    margin-right:10px
}

.discussion{
    display: flex;
    align-items: center;
}

.red_dot{
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: red;
    margin-right: 10px;
}

.register{
    background-color: #395B64 !important;
    text-transform: none !important;
}

.login{
    background-color: #A5C9CA !important;
    text-transform: none !important;
    color: black !important;
}

.nav_link{
    text-decoration: none;
    color: black;
}

.logo{
    height: 60px
}
